<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Form Register</title>
<script src="js/forms.js" type="text/javascript"></script>
</head>
<body>
	
	<form method="GET">
	
		<table>
			<tr>
				<td><input id="username" type="text" placeholder="Username" name="username"></td>
				<td><p id="vUsername" style="color:red; font-style:italic; display: none;">mohon isi username</p></td>		
			</tr>
			<tr>
				<td><input id="password" type="password" placeholder="Password" name="password"></td> 
				<td><p id="vUsername" style="color:red; font-style:italic; display: none;">mohon isi password</p></td>		
			</tr>
			<tfoot>
				<tr>
					<td><button onclick="validation();" type="submit">Submit</button></td>
				</tr>
			</tfoot>
		</table>
		
		
	</form>

</body>

</html>